/** @format */
footer {
  background: #0b0d17;
  color: #fff;
  height: fit-content;
  overflow-x: hidden;
}
.row {
  display: flex;
  justify-content: space-around;
  color: #fff;
  background: #0b0d17;
  padding: 30px;
}
.icon {
  color: #fff;
  cursor: pointer;
  z-index: 999;
  border-radius: 50%;
  border: 1px solid #45474e;
  width: 38px;
  height: 38px;
  padding: 9px;
  background-color: rgba(253, 253, 255, 0.1);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.list-image {
  display: flex;
  flex-direction: column;
}
.list-image img {
  margin: 10px 0;
  width: 60%;
  height: 60%;
}
ul {
  list-style: none;

  padding: 15px 0;
}
ul li {
  margin: 14px 0;
  cursor: pointer;
}
.full-width {
  width: 100%;

  border: 1.3px solid #fff;
}
@media only screen and (max-width: 600px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  .list-image img {
    margin: 10px 0;
    width: 40%;
    height: 40%;
  }
}
.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-copy-socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  margin-right: 20%;
}
.footer-icons {
  margin-right: 20px;
}
.footer-list-item {
  width: 100%;
  margin: 3px;
  padding: 12px 0;
  height: 40px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.footer-list-item:hover {
  transition: 0.3s ease;
  background-color: rgba(253, 253, 255, 0.1);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
